* {
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 10px;
    position: relative;
    font-family: 'Poppins';
    color: #000;
    letter-spacing: 0.015625em;

}



#first {
    background-image: url(assets/b1.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;

}


.header-list a {
    text-decoration: none;
}

header ul.header-nav {

    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-basis: 20%;
}

header ul.header-nav li.input-search {
    flex-basis: 75%;
}

#sign-button {
    padding: 10px 10px;
    color: white;
    background: #c12127;
    border-bottom: solid 5px #fa8717;

}

#learn-pro {
    padding: 10px 10px;
    color: white;
    background: #e81aa8;
    border-bottom: solid 5px #b30ad2;
}

#first-buttons {
    padding: 30px;
}

#second div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

#third {
    display: flex;
    width: 100%;
    margin: auto;
    display: flex;

}

#third .articles {
    display: flex;
    margin: auto;
}

#third article {
    background: white;
    color: black;
    height: 288px;
    width: 258px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
}

.curved {
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 5px;

    text-align: center;
}

#four {
    background-image: url(assets/background.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 245px;
    color: white;
}

#five {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}